@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Rubik', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}

#fundo {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgb(2, 0, 29), rgb(146, 222, 252));
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h1 {
    padding-top: 25px;
}

#calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.850);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

#resultado {
    background-color: white;
    color: black;
    width: 224px;
    height: 30px;
    margin: 5px 5px;
    font-size: 23px;
    text-align: right;
    padding-right: 2px;
}

.botao {
    margin: 3px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgba(31, 31, 31, 0.925);
    border: none;
    color: white;
}

.botao:hover {
    background-color: black;
}